h1{
      color: rgb(255, 196, 222);
      text-align: center;
      background-color: black;
      line-height: 100px;
      text-shadow: 10px,20px,10,rgb(218, 21, 15);
}
h1:hover{
      background-color: blue;
      color: black;
      font-size: 30px;
}
p{
      font-weight: bolder;
      font-style: italic;
}
img{
      width: 400px;
      height: 300;
}